<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-heading"> <!--botar aqui um link para a página do restaurante-->
    <div class="background-heading">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/pizza-facebook-advertisement-special-offer-25-design-template-33a5223689b263639ccf7f6c0062e202_screen.jpg?ts=1592661649" alt="Imagem de capa do restaurante X">
    </div>
    <div class="profile-container">
      <div class="image-container">
        <img src="https://www.emporiobarerestaurante.com.br/img/logo_emporio_redes_sociais.jpg" alt="Logo do restaurante X">
      </div>
      <div class="centralized-container">
        <p class="business-name">Deu Sopa</p> 
      </div>
    </div>
  </div>

  <div class="lista">

    <div class="item">
      <div class="product-container">
        <div class="product-quantity">
          <ion-chip color="primary" (click)="changeItemQuantity('asd')">
            <label>9</label>
          </ion-chip>
        </div>
        <div class="product-name-and-price">
          <p>Pizza calabresa</p>
          <p>Tamanho família - R$72,00</p>
        </div>
      </div>
    </div>

  </div>
      
  <div class="detalhes">
    <div class="item">
      <p>Endereço:</p>
      <p>Rua Valdemar Ferreira da Silva, 68</p>
    </div>
    <div class="item">
      <p>Forma de pagamento:</p>
      <p>Cartão Débito</p>
    </div>
    <div class="item">
      <p>Taxa de entrega:</p>
      <p>R$$15,00</p>
    </div>
    <div class="item">
      <p>Tempo estimado para entrega:</p>
      <p>45min.</p>
    </div>
    <div class="item">
      <p>Total:</p>
      <p>R$87,00</p>
    </div>
    <div class="item">
      <ion-button expand="block" size="large" shape="round">Realizar pedido</ion-button>
    </div>
    
  </div>

  


</ion-content>
