<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bkg-detail"></div>
  <div class="app-content">
    <h1>Pesquisar</h1>
    <h3>Procure por restaurantes e produtos disponíveis.</h3>
    <ion-searchbar debauce="500" animated showCancelButton="focus"></ion-searchbar>
    <div class="search-results">
      <div class="no-results">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>Infelizmente não foi possível localizar resultados para a sua busca.</p>
      </div>
    </div>
  </div>
</ion-content>
