.container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    height: fit-content;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }

    .promo-container{
        margin-left: 15px;
        &:last-child{
            margin-right: 15px;
        }
    }
}