// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #FE4040;
	--ion-color-primary-rgb: 254,64,64;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #e03838;
	--ion-color-primary-tint: #fe5353;

	--ion-color-secondary: #E0E2E0;
	--ion-color-secondary-rgb: 224,226,224;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #c5c7c5;
	--ion-color-secondary-tint: #e3e5e3;

	--ion-color-tertiary: #484C43;
	--ion-color-tertiary-rgb: 72,76,67;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #3f433b;
	--ion-color-tertiary-tint: #5a5e56;

	--ion-color-success: #53c17f;
	--ion-color-success-rgb: 83,193,127;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #49aa70;
	--ion-color-success-tint: #64c78c;

	--ion-color-warning: #f2c121;
	--ion-color-warning-rgb: 242,193,33;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d5aa1d;
	--ion-color-warning-tint: #f3c737;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}